.container{
    padding:1vmax;
}

.container>h1{
    background-color: rgba(137, 43, 226, 0.514);
}

.btn-primary{
    --bs-btn-font-weight: 500;
    --bs-btn-bg: white;
    --bs-btn-color: purple;
    --bs-btn-border-color: purple;
    --bs-btn-hover-bg: rgb(248, 206, 239);
    --bs-btn-hover-border-color: purple;
    --bs-btn-active-bg: purple;
    
}

.position {
    width: 5vmin;
    height: 5vmin;
    
    background: white;
    border: 1px solid black;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1vmin;
    width: min-content;
    margin: auto;
    border: 2px solid black;
    padding:5px;
    background-color: rgb(248, 206, 239);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
}

.social-media-list li i {
    margin-left: 10px;
    font-size: 20px;
    color:rgb(169, 114, 221);
  }

